*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url(./img/background.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    display: inline-flex;
    width: 100%;
    padding: 20px;
}
.logo{
    width: 50%;
}
.logo img{
    margin-left: 60px;
    width: 200px;
}
.menu{
    width: 50%;
    padding: 20px;

}
.menu ul{
    display: inline-flex;
}
.menu ul li{
    list-style: none;
    font-size: 18px;
    padding-right: 15px;
}
.menu ul li:hover{
    border-bottom: 1px solid #fcc122;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    font-weight: lighter;
    padding-left: 30px;
}
.menu ul li a:hover{
    color: #fcc122;
}
.menu ul li a i{
    color: black;
    border: 5px solid #6e6745;
    padding: 9px;
    border-radius: 50%;
    background-color: #fcc122;
}
.srchb{
    margin-top: -13px;
}


.b_content{
    width: 400px;
    margin-left: 100px;
    margin-top: 90px;
}
.b_content h1{
    font-size: 45px;
    color: #fcc122;
}
.b_content p{
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 330px;
}
.b_content input{
    width: 195px;
    height: 30px;
    padding: 18px;
    border-radius: 20px;
    border: none;
    margin-bottom: 13px;
    box-shadow: 3px 2px 5px black;
}

.b_content button{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #fcc122;
    box-shadow: 3px 2px 5px black;
}
.b_content button:hover{
    background-color: #82a12d;
    color: black;
}